body{
	font-family: "Roboto", "Helvetica", "Arial";
}

.logo{	
	width: 70%;
}
.glyphicon {
    top: 0;
}

.caja_logo{
	background-color: #325985;
	color: #fff;
	margin-top: 10%;
	padding-bottom: 2%;	
}

#contenido{
    width: 90%;
}

.panel_habitaciones{
	width: 20%;
	display:inline-table;
}

.panel_caja{
	width: 50%;
	display:inline-table;
}

.codigo_habitacion {
	font-weight: bold;
}

.btn_add{
	width: 20%;
	float: right;
	margin-bottom: 1px;
}

.panel-success > .panel-heading{
	background-color: #23D919;
	color:black;
}

.panel-danger > .panel-heading{
	background-color: #D00019;
	color:white;
}

.panel-warning > .panel-heading{
	background-color: #E4D61A;
	color:black;
}

.people{
	width: 13%;
}

#tabulador_reg_clientes{
	margin-bottom: 0px;
}

.text_bold{
	font-weight: bold;
}

.cabecera_tabla{
	background-color: #D3DDD9;
}

.alerta{
	display: none;
}

.estado_caja{
	text-transform: uppercase;
	color: white;
	background-color: #DA0521;
}
